body {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/asfalt.png");
  color: #0D0E0F;
}





.jumbotron {
  text-align: center;
  width: 70rem;
  margin: 2rem auto;
  border-radius: .375rem;
  border: solid .25rem rgb(13,14,15);
  background-color: rgba(229,230,231,.25);
}

.jumbotron h1 {
  font-size: 5em;
  font-family: 'Rancho', cursive;
}

.input-group {
  width: 20rem;
  margin: 2rem auto 0 auto;
}

.container {
  width: 50rem;
  height: 50rem;
  margin: 1rem auto;

}

.row {
}

.cell {
  display: inline-block;
  background-color: Lightgray;
  border: solid .25px Black;
  height: 100%;
}
